#chats_notification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#user_component_chats {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;

  justify-content: space-between;
}
