#find_header_badge_index {
  position: relative;
}
#find_header_badge {
  position: absolute;
  top: -7px;
}
/*small title*/
.friends_small_title {
  border-top: var(--light_border);
  color: #858585;
  height: 50px;
  display: flex;
  align-items: center;
}
/*recommend friends*/
#recommended_friends {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  color: #858585;
}
/*openchat header*/
#openchat {
  display: flex;
  justify-content: space-between;
}
#openchat :nth-child(2) {
  color: #bcbcbc;
}
/*openchat detail*/
.openchat_header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}
.openchat_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.openchat_name {
  font-weight: 900;
  font-size: 18px;
}
.openchat_tag,
.openchat_last {
  color: #858585;
}
.openchat_active {
  font-weight: 600;
  color: #ffa9de;
}
.openchat_img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.openchat_profile {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.openchat_icon {
  position: relative;
}
.openchat_icon div {
  background-color: #57494b;
  font-size: 15px;
  border-radius: 9px;
  padding: 5px 7px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  right: 8px;
  top: 70px;
  opacity: 0.7;
}
@keyframes heartbeat_animation {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.2);
  }
  100% {
    color: white;
    transform: none;
  }
}
.openchat_icon:hover .fa-heart {
  will-change: transform;
  animation: heartbeat_animation 1s linear infinite;
}
