.friends-main {
  padding: 0 var(--horizontal_space);
}
.friends_names {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  margin-bottom: 18px;
}

#friends_names_display {
  text-align: center;
  color: #2e363e;
}
#friends_names_display i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-main_channel {
  margin-top: 15px;

  border-top: var(--light_border);
}
.friends-main_channel_button {
  color: #aeaeae;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
#channel_num {
  margin-right: 5px;
}
@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash_screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  z-index: 10;

  animation: hidesplashscreen 0.5s ease-in-out forwards;
  animation-delay: 2s;
}
