.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 40px var(--horizontal_space);
  box-sizing: border-box;
}
.screen-header_title {
  font-size: 30px;
  font-weight: bolder;
}

.screen-header_icons i {
  margin-left: 20px;
}
@keyframes rotate_cog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header_icons .fa-cog:hover {
  animation: rotate_cog 3s linear infinite;
}

.header_short {
  background-color: white;
  padding: 10px var(--horizontal_space);
  display: flex;
  justify-content: space-between;

  font-size: 25px;
  font-weight: 600;
}
